.vscode
/build
/install
/log
/.Manitas_venv
/__pycache__/*
**/__pycache__
**/.git
**/.github
**.DS_Store
**.zip
**.pth
**/docs
**/pyreverse_output
/data/*.png
/data/*.tiff
/data/*.xtf
/data/*.db
/output*
/model